 .header
 {

    display: flex;
    justify-content:space-around;
    height: 30px;
    background: lightgrey 
 }
 .container
 {

    display: flex;
    flex-direction: column;
 }
 .courselable
 {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     height: 20px;
     background: lightblue;
 }
 .coursecards
 {
     flex: display;
 }
 .example-card
 {
   display: flex;
   flex-direction: row;
    max-width: 250px;
 }